https://github.com/damianmoore/matomo-monorail/releases/download/v0.1.9/matomo_monorail-0.1.9.tar.gz
bleach==4.1.0
Django==3.1.13
django-filer==2.2.6
django-polymorphic==3.1.0
django-filter==2.4.0
django-markdownify==0.8.0
django-pagedown==2.0.3
easy-thumbnails==2.8.5
gunicorn==19.9.0
patreon==0.5.0
Pillow==11.1.0
psycopg2-binary==2.8.4
requests==2.20.0
supervisor==4.3.0
mkdocs==1.4.3
