https://github.com/damianmoore/matomo-monorail/releases/download/v0.1.9/matomo_monorail-0.1.9.tar.gz
Django==5.2
django-filer==3.3
django-polymorphic==4.0.0
django-filter==25.1
django-markdownify==0.9.5
django-pagedown==2.2.1
easy-thumbnails==2.10
gunicorn==23.0.0
patreon==0.5.0
Pillow==11.2.1
psycopg2-binary==2.9.10
requests==2.32.3
supervisor==4.3.0
django-storages[s3]==1.14.4
mkdocs==1.6.1
