html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #1d1d1d;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 64px;
  font-weight: 300;
  margin: 0 0 10px 0;
  line-height: 1;
  color: #fff;
}
h2 {
  font-size: 26px;
  font-weight: 300;
  margin: 0 0 60px;
  line-height: 1;
}
p {
  line-height: 1.6em;
  font-size: 20px;
}
a {
  outline: 0;
}

header {
  background: #292929;
  margin-bottom: 100px;
  padding: 80px 80px 40px;
  text-align: center;
  color: #ddd;
}
img.logo {
  width: 100px;
  margin: 0 0 20px 0;
}

.devices {
  width: 1100px;
  margin: 0 auto;
  display: block;
}
.cta {
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
}
.cta a {
  background: #00afd2;
  border-radius: 3px;
  padding: 15px 25px;
  color: #fff;
  font-size: 26px;
  text-decoration: none;
}
.cta a:hover {
  background: #12b9de;
}

.signup {
  background: #292929;
  margin-bottom: 100px;
  padding: 40px 80px 40px;
  text-align: center;
  color: #ddd;
}
.signup form {
  margin: 20px 0;
}
.signup form input {
  font-size: 20px;
}
.signup form input[type="submit"] {
  background: #00afd2;
  border-radius: 3px;
  padding: 10px 25px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
.signup form input[type="email"] {
  border-radius: 3px;
  font-size: 20px;
  padding: 10px 10px;
  border: 0;
  margin-right: 10px;
  width: 300px;
}

footer {
  max-width: 700px;
  margin: 0 auto 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .link {
  width: 100px;
  text-align: center;
  flex-grow: 1;
  margin: 0 20px;
}
footer .link a {
  color: #ddd;
  text-decoration: none;
}
footer .link a:hover {
  color: #fff;
}

@media all and (max-width: 1100px) {
  .devices {
    width: 100%;
    margin: 0 auto 40px;
    display: block;
  }
}
@media all and (max-width: 700px) {
  header {
    padding: 60px 50px 30px;
    margin-bottom: 80px;
  }
  .signup {
    padding: 20px 40px 20px;
  }
  .signup form input[type="submit"] {
    width: 100%;
  }
  .signup form input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }
  footer {
    display: block;
  }
  footer .link {
    width: 100%;
    margin: 0 0 20px;
  }
  footer .link a img {
    width: 64px;
  }
}
@media all and (max-width: 500px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 22px;
  }
  img.logo {
    width: 85px;
  }
  p {
    font-size: 18px;
  }
  header {
    padding: 60px 30px 20px;
    margin-bottom: 60px;
  }
  .cta a {
    font-size: 20px;
  }
}
@media all and (max-width: 400px) {
  p {
    font-size: 16px;
  }
  header {
    padding: 40px 20px 20px;
  }
}
