html {
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 20px;
  line-height: 1.6rem;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #1d1d1d;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #bbb;
}
h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  line-height: 1;
  color: #fff;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 2rem;
  line-height: 1;
  color: #ddd;
}
h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0 1rem;
  line-height: 1;
  color: #ddd;
}
p {
  margin: 0 0 1rem 0;
}
a {
  color: #ddd;
  outline: 0;
}
ul {
  margin: 0 0 1rem 0;
  padding: 0 0 0 2rem;
}
strong {
  font-weight: 600;
  color: #ddd;
}
input {
  font-family: 'Nunito', sans-serif;
  border-radius: 3px;
  font-size: 20px;
  padding: 10px 13px;
  border: 0;
}
h2 a {
  text-decoration: none;
}

nav div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: right;
}
nav ul {
  margin: 1rem 0;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 1rem;
}
nav ul a {
  text-decoration: none;
}
header {
  background: #292929;
  margin-bottom: 5rem;
  padding: 3rem 3rem 2rem;
  text-align: center;
  color: #ddd;
  background-size: cover;
  background-position: center;
  position: relative;
}
header > div {
  max-width: 1040px;
  margin: 0 auto;
}
header h2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 3rem;
  line-height: 1;
}
header .icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
img.logo {
  width: 100px;
  margin: 0 0 1rem 0;
  filter: invert(1);
}
img.right {
  float: right;
}

.devices {
  width: 1100px;
  margin: 0 auto;
  display: block;
}
.cta {
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
}
.cta a {
  background: #2596ae;
  background-image: url('../images/button_background.svg');
  background-size: cover;
  border-radius: 6px;
  padding: 15px 30px;
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 300;
  box-shadow: 0 4px 20px #000;
  transform: rotateZ(360deg);
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.cta a .button-cover {
  background: #fff;
  position: absolute;
  width: 500px;
  height: 100px;
  top: 0;
  left: 0;
  opacity: 0;
}
.cta a:hover .button-cover {
  opacity: 0.1;
}


.signup {
  background: #292929;
  margin-bottom: 5rem;
  padding: 2rem 4rem 2rem;
  text-align: center;
  color: #ddd;
}
.signup > div {
  max-width: 920px;
  margin: 0 auto;
}
.signup form {
  margin-bottom: 0.5rem;
}
.signup form input {
  font-size: 20px;
}
.signup form input[type='submit'] {
  background: #2596ae;
  border-radius: 3px;
  padding: 10px 25px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
.signup form input[type='submit']:hover {
  background: #52acbf;
}
.signup form input[type='email'] {
  margin-right: 10px;
  width: 300px;
}

ul.in-page-menu {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
ul.in-page-menu li {
  list-style: none;
  display: inline-block;
  margin: 0;
}
ul.in-page-menu li a {
  background: #292929;
  padding: 10px 25px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.25rem;
}

section,
article {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto 5rem;
}
section img,
article img {
  display: block;
  margin: 0 auto 1rem;
  max-width: 100%;
}
section img.ui {
  border: 1px solid #ddd;
  margin: 5rem 0;
}
section h2,
article h2 {
  margin: 3rem 0 2rem;
}
.post-list .cover-photo {
  width: 240px;
  margin: 0 0 -1rem 0;
  float: right;
  border: 1px solid #ddd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.post {
  margin-bottom: 80px;
}
.gallery {
  margin: 0;
  padding: 0;
}
.post .gallery {
  margin: 40px 0;
}
.post .gallery-cols img {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.post .gallery-2-cols img {
  width: calc(100% / 2);
}
.post .gallery-3-cols img {
  width: calc(100% / 3);
}
.post .gallery-4-cols img {
  width: calc(100% / 4);
}
.post .gallery-5-cols img {
  width: calc(100% / 5);
}
.post .gallery-6-cols img {
  width: calc(100% / 6);
}
.post .gallery-7-cols img {
  width: calc(100% / 7);
}
.post .gallery-8-cols img {
  width: calc(100% / 8);
}
.post .gallery-single-image {
  border: 1px solid #ddd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

#faq-search {
  width: 90%;
  margin: 0 5% 50px;
}

footer {
  padding: 2.5rem 2rem;
  text-align: center;
  font-size: 0.9em;
  background: #111;
}
footer nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: 0 auto 2.5rem;
  color: #999;
}
footer nav .col {
  width: 100%;
}
footer nav div {
  text-align: right;
  padding: 0;
}
footer nav h3 {
  font-size: 28px;
  margin-left: 2rem;
}
footer nav ul {
  padding: 0;
}
footer nav li {
  margin: 0;
  display: block;
}
footer nav a, footer nav a:link {
  color: #999;
}
footer nav a:hover {
  color: #fff;
}
footer .last {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
footer .copyright {
  width: 100px;
  font-size: 14px;
  text-align: left;
}
footer .social {
  flex: 1;
  text-align: right;
  margin-right: -10px;
}
footer .link {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
footer .link a {
  color: #ddd;
  text-decoration: none;
}
footer .link a:hover {
  color: #fff;
}
footer .link a:hover img {
  opacity: 1;
}
footer img {
  width: 64px;
  opacity: 0.75;
}

.stripes-hr {
  width: 100%;
  display: flex;
}
.stripes-hr div {
  height: 0.25rem;
  display: inline-block;
  flex-grow: 1;
}
hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid #333;
  margin: 2rem 0;
}

.app-badges {
  margin: 2rem 0;
  text-align: center;
}
.app-badges img {
  display: inline-block;
  height: 65px;
  margin: 0 0.5rem;
}
.reviews-container div { 
  display: table-cell;
  width: 33%; 
  min-height: 50px; 
  text-align: center;
} 

@media all and (max-width: 1100px) {
  .devices {
    width: 100%;
    margin: 0 auto 2rem;
    display: block;
  }
  .intro {
    margin-bottom: 3rem;
  }
  ul.in-page-menu {
    padding: 0;
    display: block;
  }
  ul.in-page-menu li {
    display: block;
    margin-bottom: 2rem;
  }
  ul.in-page-menu li:last-child {
    margin-bottom: 0;
  }
  ul.in-page-menu li a {
    font-size: 1.25rem;
  }
}
@media all and (max-width: 700px) {
  .signup {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .signup form input[type='submit'] {
    width: 100%;
  }
  .signup form input[type='email'] {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .post-list .cover-photo {
    width: 100%;
    float: none;
  }
  footer {
    display: block;
    padding: 1.5rem 2rem 1rem;
  }
  /* footer .link {
    width: 140px;
    margin: 0 10px 20px;
  }
  footer .link a img {
    width: 96px;
  } */
  footer nav {
    display: block;
  }
  footer .last {
    display: block;
  }
  footer .last .copyright {
    margin-bottom: 40px;
    width: 100%;
    text-align: right;
  }
  footer .social {
    margin-right: -8px;
  }
}
@media all and (max-width: 500px) {
  html {
    font-size: 18px;
  }
  nav div {
    padding: 0 1rem;
  }
  header {
    padding: 3rem 1rem 2rem;
  }
  img.logo {
    width: 85px;
  }
  .cta {
    margin-bottom: 70px;
  }
  section {
    padding: 0 1rem;
  }
  .cta a {
    font-size: 20px;
  }
  footer {
    display: block;
    padding: 1.5rem 1rem 1rem;
  }
  footer img {
    width: 54px;
  }
  footer .social {
    margin-right: -6px;
  }
  footer .last {
    padding: 0;
  }

  .app-badges img {
    display: block;
    height: auto;
    width: 200px;
    margin: 1rem auto;
  }
}
@media all and (max-width: 400px) {
  html {
    font-size: 16px;
  }
}
