{% extends "base.html" %}
{% load markdownify markdown_extensions thumbnail testimonials %}

{% block title %}{{ object.title }} | Photonix Photo Manager Blog{% endblock %}
{% block meta_description %}{{ object.content|markdownify|strip_tags|truncatechars:1000 }}{% endblock %}
{% block twitter_title %}{{ object.title }} | Photonix Photo Manager Blog{% endblock %}
{% block twitter_description %}{{ object.content|markdownify|strip_tags|truncatechars:1000 }}{% endblock %}
{% block twitter_image %}{% if object.share_image %}https://photonix.org{% thumbnail object.share_image 1200x628 quality=80 crop %}{% else %}https://photonix.org/static/images/devices.jpg{% endif %}{% endblock twitter_image %}
{% block og_title %}{{ object.title }} | Photonix Photo Manager Blog{% endblock %}
{% block og_url %}https://photonix.org/blog/{{object.slug}}/{% endblock %}
{% block og_description %}{{ object.content|markdownify|strip_tags|truncatechars:1000 }}{% endblock %}
{% block og_image %}{% if object.share_image %}https://photonix.org{% thumbnail object.share_image 1200x628 quality=80 crop %}{% else %}https://photonix.org/static/images/devices.jpg{% endif %}{% endblock og_image %}

{% block extrahead %}
  <link rel="alternate" type="application/atom+xml" title="Photonix Blog Feed" href="{% url 'blog-post-feed' %}" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}"
      },
      "headline": "{{ object.title }}",
      "image": [
        "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% thumbnail object.share_image 1200x628 quality=80 crop %}",
        "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% thumbnail object.photo 1920x960 quality=60 crop %}"
      ],
      "datePublished": "{{ object.created_at|date:"c" }}",
      "dateModified": "{{ object.updated_at|date:"c" }}",
      "author": {
        "@type": "Person",
        "name": "Damian Moore"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Photonix",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/images/logo.svg"
        }
      }
    }
  </script>
{% endblock %}

{% block content %}
  <header style="background-image: url({% thumbnail object.photo 1920x960 quality=60 crop %});">
    <h1>{{ object.title }}</h1>
    <p>{{ object.created_at }}</p>
  </header>

  <article>
    <div class="post">
      <div class="tags">
        {% for tag in object.tags.all %}<span class="tag">{{ tag }}</span>{% endfor %}
      </div>
      {{ object.content|markdownify|format_extensions }}
      {{ object.non_visible_content|safe }}
    </div>
  </article>

  {% include 'snippets/mailinglist_signup.html' %}

  {% random_tesimonals %}

{% endblock %}
