{% extends "base.html" %}
{% load markdownify markdown_extensions %}

{% block title %}{{ object.title }} | Photonix Photo Manager Blog{% endblock %}
{% block meta_description %}{{ object.content|markdownify|strip_tags|truncatechars:1000 }}{% endblock %}
{% block twitter_title %}{{ object.title }} | Photonix Photo Manager Blog{% endblock %}
{% block twitter_description %}{{ object.content|markdownify|strip_tags|truncatechars:1000 }}{% endblock %}
{% block og_title %}{{ object.title }} | Photonix Photo Manager Blog{% endblock %}
{% block og_description %}{{ object.content|markdownify|strip_tags|truncatechars:1000 }}{% endblock %}

{% block extrahead %}
  <link rel="alternate" type="application/atom+xml" title="Photonix Blog Feed" href="{% url 'blog-post-feed' %}" />
{% endblock %}

{% block content %}
  <header>
    <h1>{{ object.title }}</h1>
    <p>{{ object.created_at }}</p>
  </header>

  <article>
    <div class="post">
      <div class="tags">
        {% for tag in object.tags.all %}<span class="tag">{{ tag }}</span>{% endfor %}
      </div>
      {{ object.content|markdownify|format_extensions }}
      {{ object.non_visible_content|safe }}
    </div>
  </article>

  {% include 'snippets/mailinglist_signup.html' %}
{% endblock %}
