{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Photonix Photo Manager Blog{% endblock %}
{% block twitter_title %}{{ object.title }} | Photonix Photo Manager Blog{% endblock %}
{% block og_title %}{{ object.title }} | Photonix Photo Manager Blog{% endblock %}

{% block extrahead %}
  <link rel="alternate" type="application/atom+xml" title="Photonix Blog Feed" href="{% url 'blog-post-feed' %}" />
{% endblock %}

{% block content %}
  <header>
    <a href="{% url 'blog-post-feed' %}"><img src="/static/images/rss.svg" class="icon" alt="RSS feed" title="RSS feed" /></a>
    <h1>Blog posts</h1>
    <p>Updates from the Photonix team</p>
  </header>

  <section class="post-list">
    {% for post in object_list %}
      <div class="post">

        {% if post.share_image %}
        <a href="{% url 'blog-post-detail' slug=post.slug %}"><img src="{% thumbnail post.share_image 680x356 quality=60 crop %}" alt="{{ post.title }}" class="cover-photo" /></a>
        {% endif %}

        <h2><a href="{% url 'blog-post-detail' slug=post.slug %}">{{ post.title }}</a></h2>

        <div class="summary">
          {{ post.created_at }}
          <div class="tags">
            {% for tag in post.tags.all %}<span class="tag">{{ tag }}</span>{% endfor %}
          </div>

          <p><a href="{% url 'blog-post-detail' slug=post.slug %}">Read more&hellip;</a></p>
        </div>
      </div>
    {% endfor %}
    </section>

  {% include 'snippets/mailinglist_signup.html' %}
{% endblock %}
