<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css?20190511" />
    <meta name="google-site-verification" content="7MIGlwoX3fZW6wg-XiFMU5R-Y808Ap4HT8661VfY_iQ" />
    <title>Photonix Photo Manager</title>
  </head>
  <body>
    <header>
      <h2>Thank you</h2>
      <p><a href="/">Return to homepage</a></p>
    </header>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.epixstudios.co.uk/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '14']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    <noscript>
      <!-- Matomo Image Tracker-->
      <img src="https://stats.epixstudios.co.uk/piwik.php?idsite=14&amp;rec=1" style="border:0" alt="" />
      <!-- End Matomo -->
    </noscript>
  </body>
</html>
