{% load version %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Photonix Photo Manager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?{% version_date %}" />
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link rel="sitemap" href="/sitemap.xml" type="application/xml" />
    <link rel="manifest" href="/manifest.json" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,600&display=swap" rel="stylesheet" />
    <meta name="description" content="{% block meta_description %}Photonix is a photo management application that solves a lot of problems. Once set up it will ingest all the photos in your collection and start building up an image database of everything you could want to search and filter by. It makes your entire collection available to you, whichever device you’re using — as long as you can get to a web browser.{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="google-site-verification" content="7MIGlwoX3fZW6wg-XiFMU5R-Y808Ap4HT8661VfY_iQ" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% block twitter_title %}Photonix Photo Manager{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter_description %}Photonix is a photo management application that solves a lot of problems. Once set up it will ingest all the photos in your collection and start building up an image database of everything you could want to search and filter by. It makes your entire collection available to you, whichever device you’re using — as long as you can get to a web browser.{% endblock %}" />
    <meta name="twitter:site" content="@photonixapp" />
    <meta name="twitter:image" content="{% block twitter_image %}https://photonix.org/static/images/devices.jpg{% endblock %}" />
    <meta property="og:title" content="{% block og_title %}Photonix Photo Manager{% endblock %}" />
    <meta property="og:site_name" content="Photonix Photo Manager" />
    <meta property="og:url" content="{% block og_url %}https://photonix.org/{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}Photonix is a photo management application that solves a lot of problems. Once set up it will ingest all the photos in your collection and start building up an image database of everything you could want to search and filter by. It makes your entire collection available to you, whichever device you’re using — as long as you can get to a web browser.{% endblock %}" />
    <meta property="og:type" content="product" />
    <meta property="og:image" content="{% block og_image %}https://photonix.org/static/images/devices.jpg{% endblock %}" />
    <meta property="og:locale" content="en_US" />
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% include 'snippets/stripes_hr.html' %}
    <nav>
      <div class="container">
        <div class= "nav-list">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="//demo.photonix.org/">Demo</a></li>
            <li><a href="{% url 'faqs-list' %}">FAQs</a></li>
            <li><a href="{% url 'blog-post-list' %}">Blog</a></li>
            <li><a href="/docs/">Documentation</a></li>
          </ul>       
        </div>
        <!-- Wrapping the icon and badge -->
        <div class="banner" >
          <span id="group">
            <a href="https://github.com/photonixapp/"><img src="/static/images/Octocat.png" class="gitlogo" alt="GitHub logo" /></a>
            <span class="badge"></span>
          </span>
        </div>
      </div>
       
    </nav>
    {% block content %}{% endblock %}

    {% include 'snippets/stripes_hr.html' %}
    <footer>
      <nav>
        <div class="col"></div>
        <div class="col">
          <h3>Product</h3>
          <ul>
            <li><a href="/docs/installing/">Photonix Server</a></li>
            <li><a href="//demo.photonix.org/">Web Demo</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=org.photonix.mobile">Photonix for Android</a></li>
            <li><a href="https://apps.apple.com/us/app/photonix-photo-manager/id1562462420#?platform=iphone">Photonix for iOS</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>Organisation</h3>
          <ul>
            <li><a href="{% url 'blog-post-list' %}">Blog</a></li>
            <li><a href="/docs/sustainability/">Sustainability</a></li>
            <!-- <li>About</li>
            <li>Sponsorship</li> -->
          </ul>
        </div>
        <div class="col">
          <h3>Resources</h3>
          <ul>
            <li><a href="{% url 'faqs-list' %}">FAQs</a></li>
            <li><a href="/docs/">Documentation</a></li>
            <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
            <!-- <li>Terms of Service</li>
            <li>Contact</li> -->
          </ul>
        </div>
      </nav>
      <div class="last">
        <div class="copyright">© Photonix</div>
        <div class="social">
          <div class="link">
            <a href="https://github.com/photonixapp/photonix">
              <img src="/static/images/github.svg" class="github" alt="GitHub logo" title="Open source code, bug and feature tracking on GitHub" />
            </a>
          </div>
          <div class="link">
            <a href="https://www.reddit.com/r/photonix/">
              <img src="/static/images/reddit.svg" class="github" alt="Reddit logo" title="Community discussions on Reddit" />
            </a>
          </div>
          <div class="link">
            <a href="https://gitter.im/photonixapp/community">
              <img src="/static/images/gitter.svg" class="gitter" alt="Gitter logo" title="Live chat discussions on Gitter" />
            </a>
          </div>
          <div class="link">
            <a href="https://hub.docker.com/r/photonixapp/photonix/">
              <img src="/static/images/docker.svg" class="dockerhub" alt="Docker Hub logo" title="Automated builds on Docker Hub" />
            </a>
          </div>
          <div class="link">
            <a href="https://www.indiehackers.com/product/photonix-photo-organizer-app">
              <img src="/static/images/indie_hackers.svg" class="indiehackers" alt="Indie Hackers logo" title="Project log on Indie Hackers" />
            </a>
          </div>
          <div class="link">
            <a href="https://www.instagram.com/photonixapp/">
              <img src="/static/images/instagram.svg" class="instagram" alt="Instragram logo" title="Follow updates on Instagram" />
            </a>
          </div>
          <div class="link">
            <a href="https://twitter.com/photonixapp">
              <img src="/static/images/twitter.svg" class="twitter" alt="Twitter logo" title="Follow updates on Twitter" />
            </a>
          </div>
          <div class="link">
            <a href="https://www.linkedin.com/company/photonixapp/">
              <img src="/static/images/linkedin.svg" class="linkedin" alt="LinkedIn logo" title="Follow updates on LinkedIn" />
            </a>
          </div>
        </div>
      </div>
    </footer>

    {% block extrabody %}{% endblock %}
    {% include 'snippets/piwik_tracking.html' %}
  </body>
  
  <script>
    // Create a request variable and assign a new XMLHttpRequest object to it.
    var request = new XMLHttpRequest()
    // Open a new connection, using the GET request on the URL endpoint
    request.open('GET', 'https://api.github.com/orgs/photonixapp/repos', true)
    request.onload = function () {
      // Begin accessing JSON data here
      var data = JSON.parse(this.response)

      if (request.status >= 200 && request.status < 400) {
        data.find((repo) => {
          if (repo.name == 'photonix') {
            document.getElementsByClassName('badge')[0].innerHTML = repo.stargazers_count
            return true;
          }
          return false
        })
      } else {
        console.log('error')
      }
    }
    request.send()
  </script>
  
</html>
