{% load version %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?{% version_date %}" />
    <meta name="google-site-verification" content="7MIGlwoX3fZW6wg-XiFMU5R-Y808Ap4HT8661VfY_iQ" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Photonix Photo Manager">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="@photonixapp">
    <meta property="og:title" content="Photonix Photo Manager">
    <meta property="og:site_name" content="Photonix Photo Manager">
    <meta property="og:url" content="https://photonix.org/">
    <meta property="og:description" content="">
    <meta property="og:type" content="product">
    <meta property="og:image" content="">
    <title>Photonix Photo Manager</title>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>
      <div class="link">
        <a href="https://github.com/damianmoore/photonix">
          <img src="/static/images/github.svg" class="github" /><br />
          Open source code, bug and feature tracking on&nbsp;GitHub
        </a>
      </div>
      <div class="link">
        <a href="https://hub.docker.com/r/damianmoore/photonix/">
          <img src="/static/images/docker.svg" /><br />
          Automated build image on&nbsp;Docker&nbsp;Hub
        </a>
      </div>
      <div class="link">
        <a href="https://www.indiehackers.com/product/photonix-photo-organizer-app">
          <img src="/static/images/indie_hackers.svg" /><br />
          Project log on Indie Hackers
        </a>
      </div>
      <div class="link">
        <a href="https://www.instagram.com/photonixapp/">
          <img src="/static/images/instagram.svg" /><br />
          Follow updates on Instagram
        </a>
      </div>
      <div class="link">
        <a href="https://twitter.com/photonixapp">
          <img src="/static/images/twitter.svg" /><br />
          Follow updates on Twitter
        </a>
      </div>
      <div class="link">
        <a href="https://www.linkedin.com/company/photonixapp/">
          <img src="/static/images/linkedin.svg" /><br />
          Follow updates on LinkedIn
        </a>
      </div>
    </footer>
    {% block extrabody %}{% endblock %}
    {% include 'snippets/piwik_tracking.html' %}
  </body>
</html>
