{% load version %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Photonix Photo Manager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?{% version_date %}" />
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link rel="sitemap" href="/sitemap.xml" type="application/xml" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,600" rel="stylesheet" />
    <meta name="description" content="{% block meta_description %}Photonix is a photo management application that solves a lot of problems. Once set up it will ingest all the photos in your collection and start building up an image database of everything you could want to search and filter by. It makes your entire collection available to you, whichever device you’re using — as long as you can get to a web browser.{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="google-site-verification" content="7MIGlwoX3fZW6wg-XiFMU5R-Y808Ap4HT8661VfY_iQ" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% block twitter_title %}Photonix Photo Manager{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter_description %}Photonix is a photo management application that solves a lot of problems. Once set up it will ingest all the photos in your collection and start building up an image database of everything you could want to search and filter by. It makes your entire collection available to you, whichever device you’re using — as long as you can get to a web browser.{% endblock %}" />
    <meta name="twitter:site" content="@photonixapp" />
    <meta name="twitter:image" content="{% block twitter_image %}https://photonix.org/static/images/devices.jpg{% endblock %}" />
    <meta property="og:title" content="{% block og_title %}Photonix Photo Manager{% endblock %}" />
    <meta property="og:site_name" content="Photonix Photo Manager" />
    <meta property="og:url" content="https://photonix.org/" />
    <meta property="og:description" content="{% block og_description %}Photonix is a photo management application that solves a lot of problems. Once set up it will ingest all the photos in your collection and start building up an image database of everything you could want to search and filter by. It makes your entire collection available to you, whichever device you’re using — as long as you can get to a web browser.{% endblock %}" />
    <meta property="og:type" content="product" />
    <meta property="og:image" content="{% block og_image %}https://photonix.org/static/images/devices.jpg{% endblock %}" />
    <meta property="og:locale" content="en_US" />
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% include 'snippets/stripes_hr.html' %}
    <nav>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'blog-post-list' %}">Blog</a></li>
        </ul>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer>
      <div class="link">
        <a href="https://github.com/damianmoore/photonix">
          <img src="/static/images/github.svg" class="github" /><br />
          Open source code, bug and feature tracking on&nbsp;GitHub
        </a>
      </div>
      <div class="link">
        <a href="https://hub.docker.com/r/damianmoore/photonix/">
          <img src="/static/images/docker.svg" /><br />
          Automated build image on&nbsp;Docker&nbsp;Hub
        </a>
      </div>
      <div class="link">
        <a href="https://www.indiehackers.com/product/photonix-photo-organizer-app">
          <img src="/static/images/indie_hackers.svg" /><br />
          Project log on Indie Hackers
        </a>
      </div>
      <div class="link">
        <a href="https://www.instagram.com/photonixapp/">
          <img src="/static/images/instagram.svg" /><br />
          Follow updates on Instagram
        </a>
      </div>
      <div class="link">
        <a href="https://twitter.com/photonixapp">
          <img src="/static/images/twitter.svg" /><br />
          Follow updates on Twitter
        </a>
      </div>
      <div class="link">
        <a href="https://www.linkedin.com/company/photonixapp/">
          <img src="/static/images/linkedin.svg" /><br />
          Follow updates on LinkedIn
        </a>
      </div>
      <p class="copyright">© Copyright 2020 Photonix</p>
    </footer>

    {% include 'snippets/stripes_hr.html' %}

    {% block extrabody %}{% endblock %}
    {% include 'snippets/piwik_tracking.html' %}
  </body>
</html>
