{% extends "base.html" %}

{% block content %}
  <header>
    <img src="/static/images/logo.svg" class="logo" />
    <h1>Photonix</h1>
    <h2>Photo Manager</h2>
    <div>
      <p>Photonix is a photo management application that solves a lot of problems. Once set up it will ingest all the photos in your collection and start building up an image database of everything you could want to search and filter by. It makes your entire collection available to you, whichever device you’re using — as long as you can get to a web browser.</p>
      <p>We think Photonix could work well for you if you’re a keen photographer. Its aim is to be invisible to your existing process (downloading photos from your camera, editing and saving) but to be there whenever and wherever you need to find a photo again. Smart filtering means you can get to the photo or album you need. Object recognition, location awareness, color analysis and a growing set of other algorithms can save you a lot of time.</p>
    </div>
  </header>

  <img src="/static/images/devices.jpg" class="devices" />
  <div class="cta">
    <a href="https://demo.photonix.org/">Try live demo now<div class="button-cover"></div></a>     
  </div>

  {% include 'snippets/mailinglist_signup.html' %}

  <section>
    <ul class="in-page-menu">
      <li><a href="#features">Main features</a></li>
      <li><a href="#faq">Frequently asked questions</a></li>
      <li><a href="#social">Social media updates</a></li>
    </ul>
  </section>

  <section>
    <p>Images are everywhere in our lives today, but all too often these gems end up as just files and folders on a hard drive — never to be seen again. Professional photographers spend a lot of time on photo editing so it’s important that those photos (and associated RAW files) can be easily retrieved later on. Using a photo editor (such as Lightroom, Darktable or Photoshop) is time consuming so get more value from that. Photo editing software has evolved a lot over the years, but often your photo management tool can feel stuck in the past.</p>
    <p>Maybe you let iCloud Photo Library, Google Photos or Picasa take charge of your daily snaps but find managing your professional SLR image files a much less slick affair. If you’re struggling to find software that will help with photo organizing, we think this could be the solution.</p>
    <img src="/static/images/pipeline.svg" class="pipeline" />
  </section>

  <section id="features">
    <h2>Main Features</h2>

    <h3>Image organizer</h3>
    <p>To have an organized collection of photos we believe each one should be tagged with as much useful information as possible. Tags are different from categories; a single photo can have many tags but could only be in a single category. This is why we think tagging is a lot better than trying to decide on a descriptive folder name to store it in. Having a database allows super fast filtering of photos by tags.</p>
    <p>There are several different sources for these tags:</p>
    <ul>
      <li><strong>Metadata that the camera produces</strong> — aperture, shutter speed, GPS location, date and time are examples of these.</li>
      <li><strong>Features that the user provides because they anticipate searching for them later</strong> — this could be things like a family member’s name, a holiday where photos were taken or objects in the photo.</li>
      <li><strong>Smart features that a computer has learnt to identify</strong> — these could be objects that were detected, styles that are similar, colors that are visible and so on.</li>
    </ul>
    <p>We think our photo management software excels in the area of smart features. In recent years, as you have probably seen in the news, there have been dramatic breakthroughs in the field of artificial intelligence (AI), machine learning and deep learning. It was these developments that inspired me to embark on this project. Google Photos has demonstrated what is possible in the area of object recognition and detection but there is a lot more that can be done. Google has been very open with their technology and we have been able to leverage some of the same frameworks and pretrained models that they have created.</p>
    <p>We currently provide the following smart tagging classifiers:</p>
    <ul>
      <li><strong>Object</strong> — Based on Google’s models but runs entirely within Photonix so no images are shared externally. The bounding box of each image is also stored, which can be used to determine its significance by size. This in turn helps with ordering results that are returned.</li>
      <li><strong>Style</strong> — Trained on an image dataset labelled according to artistic styles such as geometric, minimalist, noir. This is quite a curious tool to play with and might bring some serendipitous results.</li>
      <li><strong>Color</strong> — Starting with a simple palette, it finds the nearest color for each part of an image. The area of the each color within an image is used to calculate a significance weighting for each.</li>
      <li><strong>Location</strong> — Currently works off GPS data that cameras and phones often produce. A built-in map of the world allows it to determine country and nearest big city to tag it with. We aim to look at more intelligent feature recognition possibilities in future for photos that aren’t GPS tagged.</li>
    </ul>

    <img src="/static/images/ui.jpg" class="ui" />

    <h3>Image viewer</h3>
    <p>Quickly view images full-screen on any device you have logged in via app or web browser. Metadata about the photos is easily accessible by just scrolling down. This includes the standard details about the camera settings and date/time information but also extended data that the smart AI has determined. This includes the colors that were identified, objects in the photo, the county name and location on a map and more is yet to come.</p>

    <h3>Tracking multiple versions of photos and de-duplication</h3>
    <p>When you get into editing (with Lightroom, Darktable, Photoshop, RawTherapee, PaintShop Pro etc.) you quickly realize how easy it is to get into a mess with duplicate photos and different types of files. Free and paid photo management software is often lacking in this area and will leave you spending hours to come up with a system and then sorting by cutting and pasting. This has led many people to set up folders of differing types and versions but it can often be difficult to then go back and find the RAW version or different edits of a photo later on.</p>
    <p>It would be great if some amazing photo organizing software could do that job for you! Well, Photonix doesn’t just blindly show every photo it finds, it compares date/time and other metadata to identify which files are actually versions of another. It will show what it thinks is your latest edit as the preview/thumbnail image but RAW files, camera JPEGs and previous edits are never more than a couple of clicks away in the user interface. You’ll soon be able to select a preferred edit if you prefer a previous version to be displayed.</p>

    <h3>Multiple users</h3>
    <p>Maybe you’re setting up a home server running Photonix for your family. Maybe you’re thinking of using Photonix in your business processes with your colleagues. You can each have your own private library and then a separate shared library for collaboration.</p>
    <p>Typically there will be one admin user created at the start and this user can then create additional accounts later on. Users can have a variety of roles and restrictions. Users will be able to invite other users to view/collaborate on a photo library. Access to the shared library can be controlled per user, i.e. read-only or read-write.</p>
    <p>We use a framework called Django that means we’re not reinventing code to do things like authentication and authorization, improving security. All users will be able to use the full photo management features for searching and, if they have write permissions, the ability to tag and create albums.</p>

    <h3>Sharing online</h3>
    <p>We believe sharing should be easy and quick, whether it’s a single photo you want to send to your parents or whole photo albums you have prepared for a client shoot (e.g. a wedding). Unlike software such as Magix Photo Manager and Movavi Photo Manager, Photonix is built to be online.</p>
    <p>Being online also comes with its own concerns around security and privacy. Your image files are very important and should be protected at all cost. We have experience building apps which handle sensitive user data and we make this the number one priority with everything we build. This is in contrast to some services that treat it as an afterthought.</p>
    <p>We want to do this right and gain your trust, providing transparency about our procedures to security experts, developers and  technically-minded journalists. This is one of the reasons that Photonix is open source — we’re so confident in our code that we’re happy for anyone to take a look.</p>
    <p>We hope you’ll understand how seriously we take this and will bear with us until the feature is fully ready. Please sign up to the mailing list to be updated when this is ready.</p>

    <h3>Presentations and slideshows</h3>
    <p>It’s important to be able to show your images to people and guide them through your story and there are several scenarios where you may want to do this. Say you are at your home or the home of a family member, the living room TV is likely to be the biggest and best screen to use — if only it was convenient. Perhaps you are discussing your photos with a client and want to quickly present to them. These are a couple of experiences that we believe should be better.</p>
    <p>The dual-screen scenario inspires a lot of creative ideas for us. Your phone could be controlling a TV via an app whilst still allowing you to search for the next photo. A client could be viewing a photo you just sent them in their web browser while you’re deciding on the next one to show.</p>
    <p>It could be a very fluid and engaging experience. It will take a while for us to connect all these different technologies into a seamless experience but hopefully you can see the benefit.</p>

    <h3>Videos</h3>
    <p>We aim to add limited support for video files soon but right now, we’re trying to do the best job we can for photographers.</p>

    <h3>Android and iPhone app</h3>
    <p>The good thing about Photonix being web and cloud-based from the start means that we can soon add iOS, Android apps to the platform. This will make sure Photonix is quicker to hand than ever before and discoverable from the app stores. It would be neat to include the option to allow automatic import from your phone’s camera roll so that as you take or edit photos when you’re out and about, you can be sure they’re in your central collection and backed-up to cloud storage or a home server.</p>
  </section>

  {% include 'snippets/mailinglist_signup.html' %}

  <section id="faq">
    <h2>Frequently Asked Questions</h2>

    <h3>How would this photo organizer fit into my existing process?</h3>
    <p>Well, you can think of your photos as going through a pipeline. First you are going to be out and about with your digital camera actually taking the photos. After shooting you’ll typically download the files onto your computer and do your editing. It’s after this editing stage where the waters can get a bit murky and there is no obvious path to take. You’ll have some more files now and probably some more folders but where should they live for the long term?</p>
    <p>We’ve tried to make this photo organizing software adapt to you so you don’t have to change for it. Some users will have an external hard drive or two for their files because they either won’t fit on their computer’s hard drive or as a backup. Other more advanced users may have a home server on their network so that they can share files between computers in their home.</p>
    <p>As long as Photonix knows which folders new files (RAW and processed) will appear in, the photo organizer component will get to work, building its database. It can use the files directly if you are running on a single computer and need to save storage space or it can copy the files if running in a server/cloud scenario. Detected photos should show nearly instantly in Photonix’s user interface. The more advanced AI analysis will happen in the background (as it can take a bit of time) and then you’ll be able to use all the more advanced forms of search.</p>

    <h3>Will Photonix work with my other software tools?</h3>
    <p>We understand that keen photographers have their go-to editing tools and may want to experiment with other pieces of software from time to time. For this reason, we don’t require you to install plugins to integrate with us. You just need to tell Photonix which folders on your computers you are going to export edits to and it will continually watch it for changes in the background. This works with local folders, network mounted filesystems and external hard drives.</p>
    <p>Because of this, it doesn’t matter whether you’re an Adobe Lightroom loyalist, a big Darktable fan, a Photoshop guru or prefer something else.</p>

    <h3>Can Photonix help with organizing the RAW files that I use for editing?</h3>
    <p>Yes, absolutely. We’re glad you asked! Photonix is photo management software for professionals, and we know this is an area that isn’t catered for with most services like Google Photos, Flickr, 500px and desktop applications such as Picasa, DigiKam and Shotwell. When it starts to organize your photos, it doesn’t just look at the JPEGs but reads all the main manufacturer’s RAW file formats (.CR2, .NEF, .DNG, .ARW, .RWL and more). If you have a RAW format that we can’t open then please let us know and we’ll try to support it. Don’t worry about the RAW files showing up as duplicates though — our de-duplication algorithm is usually smart enough to realise multiple files are actually the same photo — just a different "version". We aim to combine duplicate photos whether they’re JPEGs produced by the camera, RAW files or edits exported from Lightroom as TIFF.</p>

    <h3>Can I treat Photonix as my backup solution?</h3>
    <p>Best practices often suggest you should have 3 different copies of your files on 2 different types of media. Photonix software can be used in a few different ways.</p>
    <p>If you are only going to run it so that it’s image files are stored on the same hard drive as you usually use, then it can’t offer any kind of backup.</p>
    <p>If you are going to setup a home server and install Photonix on it in a way that copies files onto it’s hard drive whilst leaving the original versions on the original computer, then that will give you one backup. This will save you when one of the hard drives fail but if they’re both in the same location then it doesn’t offer anything in cases like flooding, fire and theft.</p>
    <p>An upcoming feature will allow you to use cloud storage to store your pictures. This will provide you with safe storage in an off-site location and you you’ll be able to grow the size of your library without purchasing hard drives upfront.</p>

    <h3>Can I start using it right now?</h3>
    <p>The installation process requires quite a bit of technical know-how currently, but we are working on making it really simple. The source code is open source and other developers have been busily testing it out on their own images. By the time we reach our 1.0 release it will be ready for the general public to use. We’re building this free photo organizer in the open to produce the best solution through collaboration.</p>
    <p>Please add your email address to the mailing list form below and we’ll let you know when ready it is for the general public.</p>
  </section>

  <div id="social"></div>
  {% include 'snippets/mailinglist_signup.html' %}
{% endblock %}
