{% extends "base.html" %} {% block content %}

<header>
  <h1>Support</h1>
</header>

<article>
  <p>Photonix is a project I (Damian) have been working on in my spare time seriously for the past couple of years. It is and always will be an open source project built by and for the community.<p>
  <p>If you believe in what we are building then we could really use your support. By supporting this project financially you’ll allow us to put more time into the project, stabilizing the core features and then starting some really fun stuff.</p>
  <p>These are the ways you can support us financially:</p>
  <ul>
    <li><a href="https://github.com/sponsors/photonixapp">GitHub Sponsors</a></li>
    <li><a href="https://www.patreon.com/photonixapp">Patreon</a></li>
  </ul>
  <p>If you wish to support us in other ways then here are a few examples of what you could do:</p>
  <ul>
    <li>Spread the word to friends, family and colleagues</li>
    <li>Reach out to journalists, podcasters, YouTubers and other people in the media</li>
    <li>Help people run and configure Photonix in chat rooms and forums</li>
    <li>Follow our social media channels and like our posts (see footer of this page for links)</li>
    <li>Help triage bugs (<a href="https://github.com/photonixapp/photonix/issues">GitHub issues</a>)</li>
    <li>Write code that fixes bugs or adds new features (<a href="https://github.com/photonixapp/photonix/issues">GitHub issues</a>)</li>
  <ul>
</article>
{% endblock %}
